.container-fluid
  padding-top 50px
  padding-bottom 50px
  padding-left 40px
  padding-right 40px

img
  margin-right 60px
  width 215px
  height auto
  float right

.left
  width 39%
  display inline-block
  vertical-align top

 .right


    h1
      font-weight 300
      font-size 3.2em
      color #2c3e50
      font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif

    p
      margin-top 15px
      margin-bottom 15px

    a.button
        margin-top 1em
        margin-bottom 1em
        margin-right 1em
        margin-left 1em
        font-size 1.05em
        font-weight 600
        text-align center
        padding-top .75em
        padding-bottom .75em
        padding-right 2em
        padding-left 2em
        border-radius 2em
        display inline-block
        color #fff
        background-color #4fc08d
        letter-spacing 0.1em

    a.button-white
        margin-top 1em
        margin-bottom 1em
        margin-right 0px
        margin-left 0px
        font-size 1.05em
        font-weight 600
        text-align center
        padding-top .75em
        padding-bottom .75em
        padding-right 2em
        padding-left 2em
        border-radius 2em
        display inline-block
        color #42b983
        background-color #fff
        border 1px solid #4fc08d
        letter-spacing 0.1em
