
<div id="sponsors">
  <div class="inner">
    <h3>Patreon Sponsors</h3>

<a href="https://stdlib.com/" target="_blank" style="width: 180px">
  <img style="width: 180px" src="https://vuejs.org/images/stdlib.png">
</a>
<br>
<br>
<a href="https://deepstreamhub.com" target="_blank" style="width:130px;top:1px">
  <img src="https://vuejs.org/images/deepstream.png" style="width:130px">
</a>
<a href="https://jsfiddle.net/" target="_blank">
  <img src="https://vuejs.org/images/jsfiddle.png">
</a>
<a href="https://laravel.com/" target="_blank">
  <img src="https://vuejs.org/images/laravel.png">
</a>
<a href="https://chaitin.cn" target="_blank" style="top:-1px">
  <img src="https://vuejs.org/images/chaitin.png">
</a>
<a href="https://htmlburger.com" target="_blank">
  <img src="https://vuejs.org/images/htmlburger.png">
</a>
<a href="https://starter.someline.com/" target="_blank" style="top:-2px">
  <img src="https://vuejs.org/images/someline.png">
</a>
<a href="http://monterail.com/" target="_blank">
  <img src="https://vuejs.org/images/monterail.png">
</a>
<a href="https://www.2mhost.com/" target="_blank" style="width:90px">
  <img src="https://vuejs.org/images/2mhost.png" style="width:90px">
</a>
<a href="https://vuejobs.com/?ref=vuejs" target="_blank" style="width:80px;top:4px">
  <img src="https://vuejs.org/images/vuejobs.svg" style="width:80px">
</a>
<a href="https://leanpub.com/vuejs2" target="_blank">
  <img src="https://vuejs.org/images/tmvuejs2.png">
</a>
<a href="https://component.io" target="_blank" style="width:120px;top:1px">
  <img src="https://vuejs.org/images/component_io.png" style="width:120px">
</a>
<a href="https://www.v2ex.com/t/379389" target="_blank" style="width:100px;">
  <img src="https://vuejs.org/images/v2exer.png" style="width:100px">
</a>
<a href="https://www.xfive.co/" target="_blank" style="width:65px;">
  <img src="https://vuejs.org/images/xfive.png" style="width:65px">
</a>
<br>

<a class="become-sponsor " href="/support-vuejs/">Become a Sponsor!</a>

<div class="open-collective-sponsors">
  <h3>OpenCollective Sponsors</h3>
  <h4>Platinum</h4>
  <a href="https://opencollective.com/vuejs/platinumsponsor/0/website" target="_blank"><img src="https://opencollective.com/vuejs/platinumsponsor/0/avatar.svg"></a>
  <h4>Gold</h4>
  <a href="https://opencollective.com/vuejs/goldsponsor/0/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/0/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/1/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/1/avatar.svg"></a>
</div>
