.feature-yellow
  background #e8bd36
  position relative

.feature-small
  padding-top 4rem
  padding-bottom 3rem
  padding-right 0px
  padding-left 0px

h2
  color #2d343a
  display block
  font-size 3rem
  position relative
  font-weight 900
  margin-bottom 8px
  text-transform uppercase

.feature-btn
  border-color white
  background white
  color #2d343a
  padding-left 1.25rem
  padding-right 1.25rem
  padding-top 1rem
  padding-bottom 1rem
  text-align center
  text-transform uppercase
  font-size 1.6rem
  font-weight 800
  letter-spacing 0.04rem
  margin-right 2rem
  text-decoration none

.feature-btn:hover
  background-color #2D343A
  color #E8BD36

.mt-2
  margin-top 1.5rem !important

.container
 margin-right auto
 margin-right auto
 padding-right 15px
 padding-left 15px
 text-align center !important
