<div class="feature feature-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pull-lg-7">
        <img class="img-fluid rounded"
          width="890"
          height="564"
          src="https://flow.org/assets/featurette-bigger-1bf46c79a08d766c5e04d856bd0e3913cfc2524b8a734f3a1648e04250c7f0b3.gif"
          alt=""/>
      </div>
      <div class="col-lg-7 push-lg-5">
        <h2 class="feature-heading feature-heading-center">
          Code Bigger.
        </h2>
        <p class="feature-text">
          Working in a codebase with lots of developers can make it difficult to keep your master branch working. Flow can help prevent bad rebases. Flow can help protect your carefully designed library from your coworkers. And Flow can help you understand the code you wrote six months ago.

        </p>
      </div>


    </div>
  </div>
</div>
