.padding
  padding-left 160px


.header
  text-align center
  background-color #3EA99F
  padding-top 70px
  padding-bottom 70px
  color white

.portada
  float left
  margin 30px 30px 30px 30px
  height 200px
  color #2C3539


.imgs
    width 125px  !important
    height 190px !important

  .container
    width 160px
    max-width 160px
    display inline-block
    text-align left
    vertical-align top
    color #2C3539

.title
  font-weight  bold
  color #2C3539

.links
  color #2C3539

.sort
  padding-top 30px
  
