.footer
  padding-top 1.5rem
  padding-bottom 1.5rem
  padding-right 0px
  padding-left 0px
  background #2d343a
  color white
  bottom 0
  
a
  color #E8BD36

.container-fluid
  width 1140px
  max-width 100%
  margin-left auto
  margin-right auto
  padding-left 15px
  padding-right 15px

.footer-item
  padding-left .25em
  padding-right .25em
  content '.'
