
<footer class="footer">
  <div class="container-fluid">
    <div>
      <div class="footer-left">
        <span class="footer-item">&copy; 2014&ndash;2017 Facebook Inc.</span>
        <span class="footer-item"><a href="https://github.com/facebook/flow/blob/master/LICENSE">Distributed under BSD License</a></span>
        <span class="footer-item"><a href="https://code.facebook.com/pages/876921332402685/open-source-code-of-conduct">Code of Conduct</a></span>

          <span class="footer-item"><a href="https://github.com/facebook/flow/edit/master/website/en/index.html">Edit this page</a></span>

      </div>

      <div class="footer-right">
        <a href="https://code.facebook.com/projects/">


        </a>
      </div>
    </div>
  </div>
</footer>
