<div class="padding">
  <div class="container">
    <h1>
      <span class="white">Flow is</span>  a static type <br class="hidden-lg-up"> checker for  <span class="white">JavaScript.</span>
    </h1>

    <a class="feature-btn hidden-sm-down" href="/en/docs/getting-started/"><span>Get Started</span></a>
    <a class="feature-btn hidden-sm-down" href="/en/docs/install/"><span>Install Flow</span></a>

    <iframe class="gh-btn"
      src="https://ghbtns.com/github-btn.html?user=facebook&repo=flow&type=star&count=true&size=large"
      frameborder="0"
      scrolling="0"
      width="160px"
      height="30px"
      title="GitHub Stars">
    </iframe>

    <div class="feature-hero-text">
      Current Version:
      <strong class="navbar-text">
        <a href="https://github.com/facebook/flow/releases/tag/v0.54.1">
          v0.54.1
        </a>
      </strong>
    </div>
  </div>

</div>
