
.header
    background-color #10ACC2
    padding-top 70px
    padding-bottom 70px
    div.row.text
        h1
            color #ffffff
            font-size 27px
        p
            color #ADECF6
            font-size 18px
            font-weight 500

  .headButton
    cursor pointer
    color white
    background black
    font-size 20px
    padding 12px 25px 12px 12px
    text-align center
    font-weight 700
    font-family helvetica
    border-radius 3px
    margin 20px 155px 50px 155px
    width 240px
    border none

    div.row.image
        padding-top 30px
