<nav class="navbar  fixed-top navbar-expand-lg navbar-dark">

<!--<div class=" container-fluid margin d-flex">-->

  <a class="navbar-brand" routerLink="home">
    <img src="https://flow.org/static/ogp-1200x630-1.png"  class="d-inline-block align-top" alt="">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="getstarted">Getting Started <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="docs">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Try</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>


    <ul class=" navbar-nav">
      <li class="nav-item">
        <a class="nav-link"> <i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> <i class="fa fa-stack-overflow fa-lg" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> <i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
      </li>
    </ul>
</div>





</nav>
