.feature-dark
  background #2d343a
  position relative
  padding 4rem 0


h2
  color #fff
  display block
  font-size 3rem
  position relative
  font-weight 900
  margin-bottom 8px
  text-transform uppercase

p
   font-size 1.3rem
   color #ccc
   margin-bottom 1rem
   display block
