<div class="feature feature-dark">
  <div class="feature-decoration feature-decoration-drop"></div>
  <div class="feature-decoration feature-decoration-rise"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>
          Code Confidently.
        </h2>
        <p >
          Making major changes to large codebases can be scary. Flow helps you refactor safely, so you can focus on the changes you want to make, and stop worrying about what you might break.

        </p>
      </div>

      <div class="col-lg-5">
        <img class="img-fluid rounded"
          width="890"
          height="564"
          src="https://flow.org/assets/featurette-confidently-8fef503f144332c54f02dbf38b49a8693fdd614bb4c9f7296824f1f44e8475d5.gif"
          alt=""/>
      </div>
    </div>
  </div>
</div>
