.navbar-brand
  display inline-block
  font-size 1.5em
  color #2c3e50
  font-family 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
  font-weight 500

.form-control
  position relative
  height 30px
  line-height 30px
  padding 0 15px 0 30px
  box-sizing border-box
  border 1px solid #e3e3e3
  color #2c3e50
  outline none
  border-radius 15px
  margin-right 10px
  background #fff url("https://vuejs.org/images/search.png") 8px 5px no-repeat
  background-size 20px


.container
  right 30px
  position absolute
  margin 0
  padding-left 1em

  a
     font-size 15px
     color #3449e

  h4
    font-weight 600px
    color #34495e
    font-size 15px
