<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Vue.js</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
  <form class="form-inline">
      <input class="form-control mr-sm-2" type="text"  aria-label="Search">

    </form>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Guide <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">API</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Examples</a>
      </li>
      <li class="nav-item  active dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ecosystem
        </a>
        <ul class="dropdown-menu">
    <li><h4>Help</h4></li>
    <li><ul>
      <li><a href="https://forum.vuejs.org/" class="nav-link" target="_blank">Forum</a></li>
      <li><a href="https://chat.vuejs.org/" class="nav-link" target="_blank">Chat</a></li>
      <li><a href="https://github.com/vuejs-templates" class="nav-link" target="_blank">Templates</a></li>
    </ul></li>
    <li><h4>News</h4></li>
    <li><ul>
      <li><a href="https://twitter.com/vuejs" class="nav-link" target="_blank">Twitter</a></li>
      <li><a href="https://medium.com/the-vue-point" class="nav-link" target="_blank">Blog</a></li>
      <li><a href="https://vuejobs.com/?ref=vuejs" class="nav-link" target="_blank">Jobs</a></li>
    </ul></li>
    <li><h4>Core Plugins</h4></li>
    <li><ul>
      <li><a href="https://router.vuejs.org/" class="nav-link" target="_blank">Vue Router</a></li>
      <li><a href="https://vuex.vuejs.org/" class="nav-link" target="_blank">Vuex</a></li>
      <li><a href="https://ssr.vuejs.org/" class="nav-link" target="_blank">Vue Server Renderer</a></li>
    </ul></li>
    <li><h4>Resource Lists</h4></li>
    <li><ul>
      <li><a href="https://github.com/vuejs" class="nav-link" target="_blank">Official Repos</a></li>
      <li><a href="https://curated.vuejs.org/" class="nav-link" target="_blank">Vue Curated</a></li>
      <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank">Awesome Vue</a></li>
    </ul></li>
  </ul>

      </li>
      <li class="nav-item  active dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Translations
        </a>
        <ul class="dropdown-menu">
          <li><a href="https://cn.vuejs.org/index.html" class="nav-link" target="_blank">中文</a></li>
       <li><a href="https://jp.vuejs.org/index.html" class="nav-link" target="_blank">日本語</a></li>
       <li><a href="https://ru.vuejs.org/index.html" class="nav-link" target="_blank">Русский</a></li>
       <li><a href="https://kr.vuejs.org/index.html" class="nav-link" target="_blank">한국어</a></li>
       <li><a href="https://br.vuejs.org/index.html" class="nav-link" target="_blank">Português</a></li>
       <li><a href="https://fr.vuejs.org/index.html" class="nav-link" target="_blank">Français</a></li>
      </ul>

      </li>




      <li class="nav-item active">
        <a class="nav-link" href="#">Shop</a>
      </li>
    </ul>
  </div>
</div>
</nav>
