.buildyourapp-title
    color white
    font-size 32px
    font-weight 300
    position relative
    text-align center
    margin-top 20px
    font-family Helvetica, Arial, sans-serif
    align-content center

.buildyourapp-text
    color #FFF
    font-family Arial, sans-serif
    font-size 18px
    line-height 24px
    font-weight 300
    text-align center
    max-width 440px
    margin-left auto
    margin-right auto

.buildyourapp-background
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box
    background-color #10ACC2
    overflow-x hidden
    padding-bottom 0px
    align-content center
    margin-bottom 0px

.btn-install
    color white
    background-color #001c20
    font-weight bold
    margin-right 5px
    font-size 20px
    padding 12px 25px
    border-radius 7px
    width 230px

.btn-read
    color white
    background-color #10ACC2
    font-weight bold
    font-size 20px
    padding 12px 25px
    border-radius 7px
    width 230px

    .btns
      -moz-box-sizing border-box
      -webkit-box-sizing border-box
      box-sizing bor
      der-box
      align-content center

  .select
      text-align left
      cursor pointer
      font-size 12px
      color #FFF
      width 100%
      max-width 150px
      background-color initial
      line-height 28px
      border-radius 5px
      padding 15px 20px 0 10px



  .textContainer
      text-align center
      padding 125px 0px 125px 0px


.footer
  background-color #001C20
  font-family 'Ubuntu'
  .row.foot
      padding 100px 0 40px 0
      background-color #001C20
      .full
          color #ffffff
          h4
              font-size 20px
              margin-bottom 15px
          p.built
              font-size 14px
              font-weight 300
          img
              width 120px
              height 45px
              margin 75px 0 20px 0
          h6
              font-size 11px
          p.cr
              font-size 9px
      .full-r
          color #ffffff
          padding-left 70px
          .nav-item
              margin-right 53px
              h4
                  font-size 20px
                  margin-bottom 15px
              ul
                  list-style-type none
                  padding 0
                  font-size 14px
                  li
                      margin-bottom 14px
                      font-weight 300
                  li:hover
                      color #16ACC2
          .row.media
              margin 0 50px 16px 0
              i
                  padding-left 32px
              i:hover
                  color #16ACC2

@media (max-width: 600px)
  .footer
      padding 50px 10px 30px 10px
      .row.foot
          padding 0
          margin 0 15px 0 15px
          text-align center
          .full
              text-align center
              h4
                  display none
              p.built
                  display none
              img
                  margin-top 0

          .full-r
              padding 0
              text-align center
              .row
                  padding 0
                  text-align center
                  .nav-item
                      text-align center
                      h4
                          display none
                      ul li
                          color #16ACC2
                          display inline
                          margin-left 3px
                          margin-right 3px

                  .row.media
                      text-align center
                      margin-right 40px
