<div class="feature-light feature-small">
  <div class="container">
    <div class="row">

        <div class="col-md-6 featurette">
          <h2 class="featurette-heading">
            Type Inference
          </h2>
          <p class="featurette-text">
            Using data flow analysis, Flow infers types and tracks data as it moves through your code. You don't need to fully annotate your code before Flow can start to find bugs.

          </p>
        </div>

        <div class="col-md-6 featurette">
          <h2 class="featurette-heading">
            JavaScript, Your Way
          </h2>
          <p class="featurette-text">
            Flow is designed to understand idiomatic JavaScript. It understands common JavaScript patterns and many of the weird things we JavaScript developers love to do.

          </p>
        </div>

        <div class="col-md-6 featurette">
          <h2 class="featurette-heading">
            Realtime Feedback
          </h2>
          <p class="featurette-text">
            Flow gives you fast feedback while you code by incrementally rechecking your code as you make changes.

          </p>
        </div>

        <div class="col-md-6 featurette">
          <h2 class="featurette-heading">
            Easy Integration
          </h2>
          <p class="featurette-text">
            Flow integrates well with many tools, making it easy to insert into your existing workflow and toolchain.

          </p>
        </div>

    </div>
  </div>
</div>
