<div class="margin">
<div class="container-fluid text-center">
        <div class="users">
        <h3> Who's using sails?</h3>

        <p> Companies large and small have built all kinds of cool things on Sails:</p>
      </div>
    </div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="row d-flex justify-content-around">
        <div class="col-1">
      <a href="#"><img  src="http://sailsjs.com/images/homepage_logo_pge.png"></a>
    </div>
      <div class="col-1">
      <img  src="http://sailsjs.com/images/homepage_logo_ae.png">
    </div>
  <div class="col-1">
  <img  src="http://sailsjs.com/images/homepage_logo_postman.png">
</div><div class="col-1">
<img  src="http://sailsjs.com/images/homepage_logo_leidos.png">
</div>
    </div>

  <div class="row d-flex justify-content-around ">
    <div class="col-1">
  <img src="http://sailsjs.com/images/homepage_logo_paris.png">
</div>
<div class="col-1">
<img src="http://sailsjs.com/images/homepage_logo_microsoft.png">
</div>
<div class="col-1">
<img src="http://sailsjs.com/images/homepage_logo_apigee.png">
</div><div class="col-1">
<img src="http://sailsjs.com/images/homepage_logo_broadinstitute.png">
</div>
</div>
<div class="row d-flex justify-content-around">
  <div class="col-1">
<img  src="http://sailsjs.com/images/homepage_logo_18f.png">
</div>
<div class="col-1">
<img  src="http://sailsjs.com/images/homepage_logo_devmountain.png">
</div>  <div class="col-1">
<img  src="http://sailsjs.com/images/homepage_logo_verizon.png">
</div>  <div class="col-1">
<img  src="http://sailsjs.com/images/homepage_logo_groupahead.png">
</div>
</div>
</div>
  <div class="carousel-item">
    <div class="row d-flex justify-content-around">
      <div class="col-1">
    <img  src="http://sailsjs.com/images/homepage_logo_par.png">
  </div>
    <div class="col-1">
    <img  src="http://sailsjs.com/images/homepage_logo_jetblue.png">
  </div>
  <div class="col-1">
  <img  src="http://sailsjs.com/images/homepage_logo_anypresence.png">
  </div><div class="col-1">
  <img  src="http://sailsjs.com/images/homepage_logo_sungard.png">
  </div>
  </div>

  <div class="row d-flex justify-content-around ">
  <div class="col-1">
  <img src="http://sailsjs.com/images/homepage_logo_elliptic.png">
  </div>
  <div class="col-1">
  <img src="http://sailsjs.com/images/homepage_logo_lions.png">
  </div>
  <div class="col-1">
  <img src="http://sailsjs.com/images/homepage_logo_scoutlit.png">
  </div><div class="col-1">
  <img src="http://sailsjs.com/images/homepage_logo_gladys.png">
  </div>
  </div>
  <div class="row d-flex justify-content-around">
  <div class="col-1">
  <img  src="http://sailsjs.com/images/homepage_logo_beyondsoft.png">
  </div>
  <div class="col-1">
  <img  src="http://sailsjs.com/images/homepage_logo_epicure.png">
  </div>  <div class="col-1">
  <img  src="http://sailsjs.com/images/homepage_logo_fidelity.png">
  </div>  <div class="col-1">
  <img  src="http://sailsjs.com/images/homepage_logo_waf.png">
  </div>
  </div>
  </div>
</div>
</div>
</div>
