.container-fluid
  padding-bottom 70px
  text-align center

.inner  
  margin-right auto
  margin-left auto
  margin-top 0px
  margin-bottom 0px
  max-width 900px

.box
  width 33%

p
  color #7f8c8d

h2
  color #42b983
  font-size 1.5em
  font-weight 400
  padding 0.5em 0 0.5em 0
  font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
