<div  class="container-fluid">
  <div class="inner">
  <div class="box d-inline-block">
    <h2> Versatile </h2>
    <p >Already know HTML, CSS and JavaScript? Read the guide and start building things in no time!</p>
  </div>
  <div class="box d-inline-block">
    <h2> Approachable </h2>
    <p > An incrementally adoptable ecosystem that scales between a library and a full-featured framework.</p>
  </div>
  <div class="box d-inline-block">
    <h2> Performant</h2>
    <p>20kb min+gzip Runtime<br>
Blazing Fast Virtual DOM<br>
Minimal Optimization Efforts</p>
  </div>
</div>
</div>
